################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RyzeEngine/RyzeEditor/bin
/RyzeEngine/RyzeEditor/obj
/RyzeEngine/.vs/RyzeEngine
/.vs
/RyzeEngine/MaxExportPlugin/obj/x64
/RyzeEngine/MaxExportPlugin/MaxExportPlugin.vcxproj.user
/RyzeEngine/SharpDX.RawInput
/RyzeEngine/SharpDX.Mathematics
/RyzeEngine/SharpDX.DXGI
/RyzeEngine/SharpDX.Direct3D11
/RyzeEngine/SharpDX.Desktop
/RyzeEngine/SharpDX.D3DCompiler
/RyzeEngine/SharpDX
/README.md
/RyzeEngine/MaxExportPlugin/obj
*.json
/Bullet3/src/Bullet3Collision/BroadPhaseCollision/.DS_Store
/RyzeEngine/GameServer/x64
/1.map
