<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RyzeEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
	<log4net>
		<root>
			<level value="All" />
			<appender-ref ref="LogFileAppender" />
		</root>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="Logs\output.log" />
			<param name="AppendToFile" value="true" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="100MB" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level: %message%newline" />
			</layout>
		</appender>
		<logger name="LOGGER">
		</logger>
	</log4net>
    <applicationSettings>
        <RyzeEditor.Properties.Settings>
            <setting name="StorageType" serializeAs="String">
                <value>FileStorage</value>
            </setting>
            <setting name="TextureFormat" serializeAs="String">
                <value>PVR</value>
            </setting>
            <setting name="PlatformAlignment" serializeAs="String">
                <value>16384</value>
            </setting>
            <setting name="StoragePath" serializeAs="String">
                <value>C:\Users\Yuriy\Documents\Storage</value>
            </setting>
            <setting name="OutputFilePath" serializeAs="String">
                <value>C:\Temp\Ryze.bin</value>
            </setting>
            <setting name="RenderShadows" serializeAs="String">
                <value>True</value>
            </setting>
        </RyzeEditor.Properties.Settings>
    </applicationSettings>
</configuration>